
<div class="content"
  (swipeleft)="nextDay()"
  (swiperight)="previousDay()">
  <div class="navigator">
    <img class="arrow left-arrow" src="../assets/angle-left-solid.svg" alt="" (click)="previousDay()" >
    <div class="day-container">{{ getDate() }}</div>
    <img class="arrow right-arrow" src="../assets/angle-right-solid.svg" alt="" (click)="nextDay()" >
  </div>
  <li class="list-container" *ngFor = "let entry of getSlotsForADay()" >
    <ul class="timeslot"
        [ngStyle]="{background: getBackgroundColor(entry.availableSlots)}"
        (click)="toggleExpanded(entry)"
>

      <div class="time">{{ toReadableTime(entry.startTime) }}</div>
      <div class="available-slots">{{ entry.availableSlots }} halls available</div>
    </ul>
    <div class="expanded-view" *ngIf="entry.expanded">
      <div class="available-hall" *ngFor="let hall of entry.availableHalls">
        <div class="name" >{{ hall.name }}</div>
        <div class="available-until" >{{ toReadableTime(hall.availableUntil) }}</div>
      </div>
    </div>
  </li>
  <div class="no-available-times" *ngIf="getSlotsForADay().length==0">
    <p>No times available</p>
  </div>
</div>
