.content {
  min-height: 100vh;
  height: 100%;
}
.sticky {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 10;
  background-color: rgb(213, 240, 227);
}
.navigator {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .day-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    margin: 0;
    color: rgb(81, 84, 87);
    font-size: 25px;
    cursor: default;
  }

  .arrow {
    cursor: pointer;
    height: 40px;
  }
  .left-arrow {
    margin-right: 40px;
  }
  .right-arrow {
    margin-left: 40px;
  }

}


.list-item {
  display: flex;
  flex-direction: column;
}

.timeslot{
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 300px;
  font-size: 20px;
  color: rgb(81, 84, 87);
  margin-top: 20px;
  border-radius: 6px;
  padding: 0px 10px;
  box-shadow: 2px 4px 7px 1px rgba(214,214,214,0.6);

  cursor: pointer;
  .time{
    margin-left: 5px;
    padding-right: 20px;
  }
  .available-slots{
    margin-right: 5px;
  }

}

.expanded-view {
  margin-top: 5px;
  width: 300px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 7px 1px rgba(214,214,214,0.4);
  border-radius: 6px;

  .available-hall {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(81, 84, 87);
    font-size: 20px;
    width: 100%;
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(223, 223, 226, 0.6);

    &:last-child {
      border-bottom: none;
    }
    .name {
      margin-left: 0;
    }
    .available-until {
      margin-right: 20px;
    }
  }
}

.no-available-times {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  p {
    cursor: default;
    color: rgb(81, 84, 87);
    font-size: 35px;
    text-align: center;
  }
}
